* {
  margin: 0px;
  padding: 0px;
}

::selection {
  color: #220d38;
  background-color: #ce5c16;
  mix-blend-mode: difference;
}

html,
body {
  background-color: #101011;
  margin: 0rem;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  opacity: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

p {
  position: absolute;
  color: #c2bbb3;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.left-corner {
  left: 30px;
  top: 30px;
  z-index: 1;
  mix-blend-mode: difference;
  position: fixed;
}

.right-corner {
  right: 30px;
  top: 30px;
  text-align: right;
  z-index: 1;
  mix-blend-mode: difference;
  position: fixed;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.titel {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 5rem;
  color: #c2bbb3;
  font-family: "Roboto Flex", sans-serif;
  font-size: 7vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.5vw;
}

#main-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr 2fr minmax(0, 1fr);
  grid-auto-rows: 80vh;
  gap: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 100vw;
  transition: grid-template-columns 0.6s cubic-bezier(0.09, 0.5, 0.34, 0.93),
    grid-auto-rows 0.6s cubic-bezier(0.09, 0.5, 0.34, 0.93);
}

/* Media query for tablets and phones */
@media screen and (max-width: 1400px) {
  #main-container {
    grid-template-columns: minmax(0, 1fr) 1fr;
  }
}

.container-m,
.container-o,
.container-v,
.container-e {
  width: var(--container-width);
  height: var(--container-height);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.m,
.o,
.v,
.e {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m svg,
.o svg,
.v svg,
.e svg {
  width: 100%;
  height: 100%;
  fill: #c2bbb3;
}

/* Cursor */

#circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    #220d38,
    #ce5c16,
    #c2bbb3,
    #c2bbb3
  ); /* Radial gradient */
  position: absolute;
  display: none;
  z-index: 1;
  mix-blend-mode: darken;
  pointer-events: none;
  position: absolute;
}

.titel-ani {
  animation: titelOpacity 2s forwards;
  animation-timing-function: cubic-bezier(0.5, 0, 0.38, 0.99);
}

@keyframes titelOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bento-box {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: 40vh;
  gap: 1rem;
  padding: 2rem;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

@media (max-width: 800px) {
  .bento-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr)); /* 2 columns */
    grid-gap: 10px; /* Adjust as needed */
  }
}

.box {
  border-radius: 0.5rem;
  backdrop-filter: blur(10rem);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid #c2bbb3;
  box-shadow: 0 8px 32px 0 #000;
  align-content: center;
  color: #c2bbb3;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2vw;
}

.box:hover {
  background: #212122;
  transition: ease-in-out 200ms;
}
